In [1]:
pip install mysql-connector-python

Requirement already satisfied: mysql-connector-python in c:\users\vishw\anaconda3\lib\site-packages (8.4.0)
Note: you may need to restart the kernel to use updated packages.

In [3]:
import mysql.connector

# Connect to MySQL database
conn = mysql.connector.connect(
    host="127.0.0.1",
    user="root",
    password="student115",
    database="PharmacyDB1"
)

cursor = conn.cursor()

# Create tables if not exists
cursor.execute('''
CREATE TABLE IF NOT EXISTS Medicines (
    id INT AUTO_INCREMENT PRIMARY KEY,
    name VARCHAR(255) NOT NULL,
    manufacturer VARCHAR(255),
    expiry_date DATE,
    price DECIMAL(10, 2),
    quantity INT
)
''')

cursor.execute('''
CREATE TABLE IF NOT EXISTS Customers (
    id INT AUTO_INCREMENT PRIMARY KEY,
    name VARCHAR(255) NOT NULL,
    contact VARCHAR(255),
    address VARCHAR(255)
)
''')

cursor.execute('''
CREATE TABLE IF NOT EXISTS Sales (
    id INT AUTO_INCREMENT PRIMARY KEY,
    customer_id INT,
    medicine_id INT,
    quantity INT,
    sale_date DATE,
    FOREIGN KEY (customer_id) REFERENCES Customers (id),
    FOREIGN KEY (medicine_id) REFERENCES Medicines (id)
)
''')

# Commit changes
conn.commit()

# Function to insert medicine data
def insert_medicine():
    name = input("Enter medicine name: ")
    manufacturer = input("Enter manufacturer: ")
    expiry_date = input("Enter expiry date (YYYY-MM-DD): ")
    price = float(input("Enter price: "))
    quantity = int(input("Enter quantity: "))

    cursor.execute('''
    INSERT INTO Medicines (name, manufacturer, expiry_date, price, quantity)
    VALUES (%s, %s, %s, %s, %s)
    ''', (name, manufacturer, expiry_date, price, quantity))

# Function to insert customer data
def insert_customer():
    name = input("Enter customer name: ")
    contact = input("Enter contact: ")
    address = input("Enter address: ")

    cursor.execute('''
    INSERT INTO Customers (name, contact, address)
    VALUES (%s, %s, %s)
    ''', (name, contact, address))

# Function to insert sales data
def insert_sale():
    customer_id = int(input("Enter customer ID: "))
    medicine_id = int(input("Enter medicine ID: "))
    quantity = int(input("Enter quantity: "))
    sale_date = input("Enter sale date (YYYY-MM-DD): ")

    cursor.execute('''
    INSERT INTO Sales (customer_id, medicine_id, quantity, sale_date)
    VALUES (%s, %s, %s, %s)
    ''', (customer_id, medicine_id, quantity, sale_date))

# Insert data
while True:
    print("\nChoose an option:")
    print("1. Insert medicine")
    print("2. Insert customer")
    print("3. Insert sale")
    print("4. Exit")
    
    choice = int(input("Enter choice: "))
    
    if choice == 1:
        insert_medicine()
    elif choice == 2:
        insert_customer()
    elif choice == 3:
        insert_sale()
    elif choice == 4:
        break
    else:
        print("Invalid choice. Please try again.")

# Commit changes
conn.commit()

# Query to fetch all medicines
cursor.execute('SELECT * FROM Medicines')
medicines = cursor.fetchall()
print("\nMedicines:")
for medicine in medicines:
    print(medicine)

# Query to fetch all customers
cursor.execute('SELECT * FROM Customers')
customers = cursor.fetchall()
print("\nCustomers:")
for customer in customers:
    print(customer)

# Query to fetch all sales
cursor.execute('SELECT * FROM Sales')
sales = cursor.fetchall()
print("\nSales:")
for sale in sales:
    print(sale)

# Close the connection
conn.close()

Choose an option:
1. Insert medicine
2. Insert customer
3. Insert sale
4. Exit

Enter choice:  1
Enter medicine name:  dimethylaldehyde
Enter manufacturer:  cde pharma
Enter expiry date (YYYY-MM-DD):  2026-08-04
Enter price:  50
Enter quantity:  50

Choose an option:
1. Insert medicine
2. Insert customer
3. Insert sale
4. Exit

Enter choice:  2
Enter customer name:  suganth
Enter contact:  8310000318
Enter address:  thoothukudi,TamilNadu

Choose an option:
1. Insert medicine
2. Insert customer
3. Insert sale
4. Exit

Enter choice:  3
Enter customer ID:  6
Enter medicine ID:  6
Enter quantity:  30
Enter sale date (YYYY-MM-DD):  2024-08-12

Choose an option:
1. Insert medicine
2. Insert customer
3. Insert sale
4. Exit

Enter choice:  4

Medicines:
(1, 'paracetamol', 'abc pharma', datetime.date(2023, 12, 31), Decimal('2.00'), 100)
(2, 'dolo', 'xyz pharma', datetime.date(2024, 1, 2), Decimal('4.00'), 200)
(3, 'cetrizen', 'ijk pharma', datetime.date(2025, 10, 23), Decimal('8.00'), 300)
(4, 'para', 'dfg pharma', datetime.date(2025, 2, 1), Decimal('5.00'), 100)
(5, 'cipla', 'mno pharma', datetime.date(2026, 12, 23), Decimal('7.00'), 100)
(6, 'dimethylaldehyde', 'cde pharma', datetime.date(2026, 8, 4), Decimal('50.00'), 50)

Customers:
(1, 'vimal', '7300073000', 'erode,tamilnadu')
(2, 'vijayakumar', '6369874974', 'salem,tamilnadu')
(3, 'shrinivassan', '9840440404', 'erode,tamilnadu')
(4, 'vishwa s', '9876543789', 'karu,tn')
(5, 'aarumugam', '8756748759', 'Thiruvarur,TamilNadu')
(6, 'suganth', '8310000318', 'thoothukudi,TamilNadu')

Sales:
(1, 1, 1, 2, datetime.date(2024, 1, 1))
(2, 2, 2, 5, datetime.date(2023, 1, 15))
(3, 3, 3, 8, datetime.date(2024, 1, 1))
(4, 3, 2, 10, datetime.date(2024, 1, 1))
(5, 5, 4, 25, datetime.date(2024, 11, 25))
(6, 6, 6, 30, datetime.date(2024, 8, 12))